.media {
  cursor: pointer;
  transition: 0.4s all ease;
  position: relative;
  background-color: #423a6f;
  border: 1px solid rgba(0,0,0,.125);
  color: #fff;
  font-size: 15px;
  border-radius: 3px;
  padding-right: 40px;
  .edit-blog {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9;
    .bi-trash3 {
      margin-left: 5px;
    }
  }
  &-stt {
    font-size: 11px;
    padding: 0.25em 0.25em 0.25em 0.6em;
    border-radius: 5px;
    margin-right: 20px;
  }
  &-body {
    color: #0dcaf0;
  }
  &-time {
    font-size: 14px;
    margin-top: 7px;
  }
}
