.add-blog_modal {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 640px;
  max-width: 100%;
  padding: 30px 30px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #201c38;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: white;
  &_close {
    position: absolute;
    right: 10px;
    top: 10px;
    max-width: 25px;
    cursor: pointer;
  }
}

.btn-ok {
  width: 160px;
  margin: 30px auto 10px;
  display: block;
}
