.list-unstyled {
  text-align: left;
  justify-content: center;
  margin: 0 auto;
}

.pagination {
  @media only screen and (max-width: 768px) {
    padding-bottom: 60px;
  }
  a {
    cursor: pointer;
  }
}
